/* Global */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff8ec;
    color: #333;
}

header {
    background-color: #ffad60; 
    color: white;
    padding: 10px; 
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex; 
    flex-direction: column;
    align-items: center; 
}

header .usuario-info {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    align-self: flex-end; 
}

header h1 { 
    margin: 0 0 10px; /* Margen inferior simplificado */
    font-size: 2.5rem;
    font-weight: bold;
    display: flex; 
    align-items: center;
}

header h1 img { 
    margin: 0 10px; 
}

.nav {
    display: flex;
    justify-content: center; 
    gap: 20px;
    list-style: none;
    margin: 0; 
    padding: 0;
}

.nav li a {
    text-decoration: none;
    font-size: 1.1rem;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #ff7043;
    transition: background-color 0.3s;
}

.nav li a:hover {
    background-color: #e64a19;
}

/* Botones generales */
.btn-primary, .btn-secondary, .btn-danger {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    background-color: #ff7043; 
    transition: background-color 0.3s ease;
    cursor: pointer;
}

/* Hover para todos los botones */
.btn-primary:hover, .btn-secondary:hover, .btn-danger:hover {
    background-color: #e64a19; 
}

/* Botones específicos */
.btn-secondary {
    background-color: #4caf50; 
}

.btn-secondary:hover {
    background-color: #388e3c; 
}

.btn-danger {
    background-color: #f44336; 
}

.btn-danger:hover {
    background-color: #c62828; 
}

/* Botones dentro de tarjetas */
.receta-card .btn-primary,
.receta-card .btn-secondary,
.receta-card .btn-danger {
    margin: 5px 0;
    width: 100%; 
    text-align: center;
}

/* Secciones */
main {
    padding: 20px;
    text-align: center;
}

.intro {
    background-color: #ffe5d4;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
}

.featured {
    margin-bottom: 30px;
}

.featured h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.recetas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.receta-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    width: 300px;
}

.receta-card img {
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.receta-card h3 {
    margin: 10px 0;
    font-size: 1.3rem;
}

footer {
    background-color: #ffad60;
    color: white;
    padding: 10px 0;
    text-align: center;
}